:root{
    --background-color: #fff;
    --text-color: black;
}


[data-theme='light'] {
    --background-color: #fff;
    --text-color: black;
}

[data-theme='dark'] {
    --background-color: black;
    --text-color: #fff;

}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color:var(--background-color) ;

}

.carousel-60vh {
    height: 60vh;
  }


.icono1,.icono2{
    color:dimgray ;
    font-size:30px ;
    margin:8px ;
    cursor: pointer;
}
.icono1:hover,.icono2:hover{
    color:rgb(177, 26, 26);
}
.icono1:active,.icono2:active{
    transform: scale(0.7);
}

.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);

}

.card-img-top{
    width: 100% ;
    height: 70%;

}

.card{
    margin:20px;
}

